/* Main */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Common */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

aside, nav, footer, header, section, main {
  display: block;
}

ul, ul li {
  padding: 0;
  list-style: none;
}

img, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

address {
  font-style: normal;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Custom */
.is--hiden {
  display: none;
}

.for--mobile {
  display: none;
}

.btn--reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

/* Main */
body {
  margin: 0;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 175px;
}

a {
  color: #292929;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #01996D;
}

.mtext {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 31.4px;
  color: #424242;
}

header {
  display: inline-block;
  width: 100%;
  min-height: 87px;
}
header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 0;
}
header nav {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
header nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 72px;
     -moz-column-gap: 72px;
          column-gap: 72px;
}
header .button-box .sighin {
  padding-right: 35px;
  background-color: #fff;
}
header .button-box .trial {
  padding: 13px 50px;
  border: 1px solid #01996D;
  border-radius: 4px;
  background-color: #01996D;
  color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .button-box .trial:hover {
  background-color: #fff;
  border-color: #01996D;
  color: #01996D;
}
header .button-box .trial:active {
  background-color: #01996D;
  border-color: #fff;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
header .button-box .trial:focus, header .button-box .trial:active:focus {
  background-color: #01996D;
  border-color: #01996D;
  color: #fff;
}
header .button-box .trial:visited {
  background-color: #01996D;
  border-color: #fff;
}

.screen {
  min-height: 895px;
  background-image: url(../..//resources/BG.png);
  background-repeat: none;
  background-size: cover;
  margin-bottom: 154px;
}
.screen .screen__text {
  max-width: 440px;
  max-height: 384px;
  padding-top: 175px;
}
.screen .screen__title {
  color: #01996D;
  font-family: "Georgia", serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 30px;
}
.screen .text__box-main {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.4px;
  margin-bottom: 18px;
}
.screen .screen__btn {
  padding: 13px 50px;
  border: 1px solid #01996D;
  border-radius: 4px;
  background-color: #01996D;
  color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.screen .screen__btn:hover {
  background-color: #fff;
  border-color: #01996D;
  color: #01996D;
}
.screen .screen__btn:active {
  background-color: #01996D;
  border-color: #fff;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.screen .screen__btn:focus, .screen .screen__btn:active:focus {
  background-color: #01996D;
  border-color: #01996D;
  color: #fff;
}
.screen .screen__btn:visited {
  background-color: #01996D;
  border-color: #fff;
}

.howitworks .hiw__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.68px;
  color: #424242;
}
.howitworks .hiwtext__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.howitworks .h2 {
  display: block;
  color: #01996D;
  font-family: "Georgia", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  max-width: 584px;
  max-height: 185px;
}
.howitworks .text__box {
  display: block;
  width: 671px;
  height: 269px;
  padding-top: 23px;
}
.howitworks .hiwcard__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.howitworks .hiwcard__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 390px;
  min-height: 937px;
}
.howitworks .inner__cardbox-two {
  position: absolute;
  top: 204px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 390px;
  min-height: 937px;
}
.howitworks .inner__cardbox-three {
  position: absolute;
  top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 390px;
  min-height: 937px;
}
.howitworks .card__title {
  position: relative;
}
.howitworks .h3 {
  color: rgba(1, 153, 109, 0.2);
  font-family: "Georgia", serif;
  font-size: 150px;
  font-style: normal;
  font-weight: 400;
}
.howitworks .title__text-one, .howitworks .title__text-two, .howitworks .title__text-three {
  position: absolute;
  font-family: "Georgia", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.howitworks .title__text-one {
  left: 100px;
  top: 115px;
}
.howitworks .title__text-two {
  left: 50px;
  top: 115px;
}
.howitworks .title__text-three {
  left: 120px;
  top: 115px;
}

.video {
  margin-top: 250px;
  background-color: #245852;
}
.video .video__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 215px 0;
}
.video .h2 {
  display: block;
  color: #fff;
  font-family: "Georgia", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  max-width: 584px;
  max-height: 185px;
  margin-bottom: 33px;
}
.video .text__box {
  color: #fff;
  margin-bottom: 33px;
}
.video .video__btn {
  padding: 13px 50px;
  border: 1px solid #01996D;
  border-radius: 4px;
  background-color: #01996D;
  color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.video .video__btn:hover {
  background-color: #fff;
  border-color: #01996D;
  color: #01996D;
}
.video .video__btn:active {
  background-color: #01996D;
  border-color: #fff;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.video .video__btn:focus, .video .video__btn:active:focus {
  background-color: #01996D;
  border-color: #01996D;
  color: #fff;
}
.video .video__btn:visited {
  background-color: #01996D;
  border-color: #fff;
}

.product {
  margin-bottom: 52px;
}
.product .product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 120px 0 240px 0;
}
.product .product__img-box {
  position: relative;
}
.product .prodcard__img {
  position: absolute;
  top: 340px;
  right: 390px;
}
.product .product__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.68px;
  color: #424242;
  margin-bottom: 10px;
}
.product .h2 {
  display: block;
  color: #01996D;
  font-family: "Georgia", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  max-width: 584px;
  max-height: 185px;
  margin-bottom: 20px;
}
.product .product__box {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
  width: 530px;
  height: 81px;
}
.product .product__btn {
  padding: 13px 50px;
  border: 1px solid #01996D;
  border-radius: 4px;
  background-color: #01996D;
  color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.product .product__btn:hover {
  background-color: #fff;
  border-color: #01996D;
  color: #01996D;
}
.product .product__btn:active {
  background-color: #01996D;
  border-color: #fff;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.product .product__btn:focus, .product .product__btn:active:focus {
  background-color: #01996D;
  border-color: #01996D;
  color: #fff;
}
.product .product__btn:visited {
  background-color: #01996D;
  border-color: #fff;
}

footer {
  background-color: #245852;
  padding-top: 90px;
  padding-bottom: 140px;
}
footer .footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}
footer .footer__logo {
  margin-bottom: 60px;
}
footer a {
  color: #fff;
}
footer .footer__link:hover {
  color: #01996D;
}