/* Main */

body{
    margin: 0;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 175px;

    @include mediaStart{
        padding: 0 100px;
    }

    @include mediaTablet {
        padding: 0 70px;
    }

    @include mediaSTablet{
        padding: 0 50px;
      }

      @include mediaPhoneMax{
        padding: 0 20px;
      }

    
}

a {
    color: $black;
    transition: color 0.2s ease-in;
    &:hover {
        color: $lgreen;
    }
}

.mtext{
    font-family: $font-main;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 31.4px;

    color: $dgrey;
}

.no-scroll{
    overflow-y: hidden;
}