header {

    display: inline-block;
    width: 100%;
    max-height: 87px;

    & .header__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 17px 0;
    } 
    
}

nav {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    & .nav__list {
        display: flex;
        column-gap: 72px;
    }
      
    @include mediaStart{
        display: none;
    }
} 
    

.header__nav-btn{
    display: none;

    @include mediaStart{
        display: block;
    }
}

.button-box{
        & .sighin{
            padding-right: 35px;
            background-color: $white;
        }
    
        & .trial {
            @include mybutton($lgreen, $white);
        }

        @include mediaStart{
            display: none;
        }
    }