.howitworks {
  & .hiw__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.68px; 

    color: $dgrey;
  }
  & .hiwtext__box{
     display: flex;
     justify-content: space-between;

     @include mediaXSTablet{
      flex-wrap: wrap;
    } 

  }
  & .h2 {
    display: block;
    
    color: $lgreen;

    font-family: $font-accent;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;

    max-width: 584px;
    max-height: 185px;

    @include mediaTablet{
      width: 450px;
    }

    @include mediaXSTablet{
      font-size: 35px;
      max-width: 300px;
    } 


  }
  & .text__box{
    display: block;
    width: 671px;
    max-height: 269px;

    


    @include mediaStart{
      width: 500px;
    }

    @include mediaTablet{
      width: 400px;
    }

    @include mediaXSTablet{
      font-size: 20px;
      max-width: 500px;

      padding-top: 20px;

    } 


  } & .hiwcard__box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mediaSTablet{
      justify-content: space-evenly;
    }




  } & .hiwcard__inner {
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 390px;
    min-height: 937px;

  } & .inner__cardbox-two{
    position: absolute;
    top: 204px; 

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 390px;
    min-height: 937px;

    @include mediaTablet{
      top: 350px; 
    }

    @include mediaSTablet{
      top: 10px; 
      
    }
    
    @include mediaPhoneMax{
      width: 330px;
    }

    @include mediaPhones{
      width: 280px;
    }

  } & .inner__cardbox-three{
    position: absolute;
    top: 54px; 

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 390px;
    min-height: 937px;
    
    @include mediaPhoneMax{
      width: 330px;
    }

    @include mediaPhones{
      width: 280px;
    }
  }
  & .card__title {
    position: relative;

  } & .h3 {
 
    color: rgba(1, 153, 109, 0.20);

    font-family: $font-accent;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;

  } & .title__text-one, .title__text-two, .title__text-three{
    position: absolute;
    font-family: $font-accent;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;

  } & .title__text-one {
    left: 100px;
    top: 115px;

  }  & .title__text-two {
    left: 50px;
    top: 115px;

  } & .title__text-three {
    left: 120px;
    top: 115px;
  }
  
}
