.howitworks {
  & .hiw__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.68px; 

    color: $dgrey;
  }
  & .hiwtext__box{
     display: flex;
     justify-content: space-between;
  }
  & .h2 {
    display: block;
    
    color: $lgreen;

    font-family: $font-accent;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;

    max-width: 584px;
    max-height: 185px;

  } & .text__box{
    display: block;
    width: 671px;
    height: 269px;

    padding-top: 23px;

  } & .hiwcard__box{
    display: flex;
    justify-content: space-between;

  } & .hiwcard__inner {
    display: block;

    width: 390px;
    height: 937px;

  } & .card__title {


  }& .h3 {
    color: rgba(1, 153, 109, 0.20);

    font-family: $font-accent;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;

  } & .title__text{

    font-family: $font-accent;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;


  } 
}
